@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 450px){
  .mic{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .Header{
    width: 450px;
  }
  .Header>div>div>button , .Header>div>div>input{
    display: none;
  }
  .round2{
    border-radius: 50px;
    width: 40px;
    display: flex;
  }
  .video>div>img{
    height: fit-content;
  }
  .search>div>input{
    display: block;
  }
  .video{
    height: 450px;
  }
  .suggestionMenu>div{
    width: 450px;
  }
  iframe{
    width: 450px;
    height: 300px;
  }
  }

  .flexcheck{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  }
  