@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 450px){
  .test{
    width: 95vw;
  }
  .sidebar{
    display: none;
  }
  .Header>div>div>button , .Header>div>div>input{
    display: none;
  }
  .Header>div>button{
    border-radius: 50px;
    width: 40px;
  }
  .Header>div>div{
    width: 40px;
  }
  .Header>div>div{
    width: 100px;
  }
  }

  
@media (max-width: 600px){
  .mobile{
  }
}